.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
    // height: 80px;
    .fab {
        color: #747474;
    }

    background-color: rgb(0, 0, 0);
    align-items: center;
    border-top: 1px solid #747474;

    &__socials {
        display: flex;
        flex-direction: row;

        a+a {
            margin-left: 5px;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            display: inline;
            text-decoration: underline;
        }
    }

    span {
        // width: 100%;
        display: inline-block;
        font-size: 12px;
        color: #747474;
        @include minTab {
            font-size: 14px;
        }
        @include desktop {
            font-size: 20px;
        }
    }

    p {
        color: red;
        font-size: 10px;
        @include minTab {
            font-size: 12px;
        }
        @include desktop {
            font-size: 18px;
        }
    }

    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #747474;
        @include desktop {
            padding:20px 40px;
        }
    }

    &__copyright {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 10px 10px 10px;
        background-color: rgb(7, 7, 7);
        @include desktop {
            padding:10px 40px;
        }
        span {
            display: inline-flex;
            font-size: 10px;
            margin-top: 10px;
            @include minTab {
                font-size: 12px;
            }
            @include desktop {
                font-size: 18px;
            }
        }

        .link {
            color: #747474;
            text-decoration: underline;
        }

        span {
            &:last-child {
                text-decoration: underline;
            }
        }
    }
    .link {
        .fab {
            font-size: 16px;

            @include minTab {
                font-size: 18px;
            }
            @include desktop {
                font-size: 24px;
            }
        }
    }
}

.fa-copyright {
    margin-right: 5px;
}