.header {
    position: relative;
    width: 100%;
    min-height: 60px;
    padding: 0 20px 0 20px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    // align-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    z-index: 999;
    @include desktop {
        padding: 0 70px 0 70px;
        min-height: 70px;
        justify-content: space-between;
    }
    h1 {
        font-size: 16px;
        color: white;
        text-align: center;
        @include minTab {
            font-size: 18px;
        }
        @include desktop {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 26px;
            margin: 0;
        }
    }

    .fa-instagram-square,
    .fa-vk,
    .fa-skype,
    .fa-soundcloud {
        color: white;

    }

    a+a {
        margin-left: 5px;
    }

    &__socials {
        display: flex;
        margin-left: auto;
        flex-direction: row;
        // margin-left: 20%;
        justify-content: center;
        // align-content: center;
        align-items: center;
        
        a {
            display: flex;
            
        }

        .link {
            .fab {
                font-size: 16px;

                @include minTab {
                    font-size: 18px;
                }
                @include desktop {
                    font-size: 24px;
                    margin-right: 5px;
                }
            }
        }
    }
}