    .main {
        position: relative;
        z-index: 999;
        &__container {
            display: flex;
            // padding: 0 20px 0 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
        }


        &__picture {
            width: 30vh;
            @include minTab {
                width: 33vh;
            }
            @include desktop {
                width: 50vh;
            }
        }

        &__heading {
            margin-bottom: 10px;
            border-bottom: 1px solid black;
            @include minTab {
                margin-bottom: 20px;
            }
            @include desktop {
                font-size: 22px;
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            @include desktop {
               max-width: 60vw;
            }

            p,
            li {
                font-size: 14px;
                margin: 0;
                @include minTab {
                    font-size: 16px;
                }
                @include desktop {
                    font-size: 20px;
                }
            }

            ol {
                margin: 10px 0 10px 0;
                padding: 0;
            }
        }

        .fa-user-graduate {
            margin-right: 5px;
            color: $accent;
        }

        &__map {
            margin: 20px 0;
        }

        &__bigben {
            position: absolute;
            top: 0;
            right: 15%;
            width: 20vw;
        }
    }