.login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    margin: 0;
    background-color: rgb(57, 119, 252);
    border-radius: 2px;

    &__title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__input {
        width: 80%;
        text-align: center;
        border-radius: 10px;
    }

    input {
        font-size: 14px;
    }

    input + input {
        margin-top: 10px;
    }

    &__button {
        text-align: center;
        padding: 5px 7px;
        width: 25%;
        background-color: rgb(19, 23, 255);
        border: 0;
        border-radius: 10px;
        color: rgba(255, 255, 255, 0.712);
    }

    &__cross {
        position: absolute;
        cursor: pointer;
        top: -25px;
        right: 0;

        i {
            color: rgb(255, 74, 74);
            font-size: 20px;
        }
    }
    p {
        margin-top: 5px;
        font-size: 10px;
        font-weight: bolder;

        span {
            text-decoration: underline;
        }
    }
}