 .prices {
     position: relative;
     display: flex;
     margin-top: 20px;
     margin-bottom: 20px;

     // padding-bottom: 60px;
     @include desktop {
         margin-top: 30px;
         margin-bottom: 30px;
     }

     &__slide {
         position: relative;
         display: flex;
         flex-direction: column;
         align-items: center;


         h2 {
             display: flex;
             text-align: center;
             font-size: 16px;
             margin-bottom: 10px;
             border-bottom: 1px solid black;

             @include minTab {
                 font-size: 20px;
             }

             @include desktop {
                 font-size: 24px;
                 margin-bottom: 20px;
             }
         }

         p {
             padding: 0 20px;
             font-size: 14px;
             max-width: 400px;

             @include minTab {
                 font-size: 16px;
                 max-width: 500px;
             }

             @include desktop {
                padding: 0;
                 font-size: 20px;
                 max-width: 60vw;
                 text-align: left;
             }
         }

         .fa-wave-square,
         .fa-think-peaks {
             margin-right: 5px;
             color: $accent;
         }

         ul {
             width: 100%;
             margin-top: 10px;
             font-size: 14px;
             display: flex;
             flex-direction: column;

             @include minTab {
                 font-size: 16px;
             }

             @include desktop {
                 margin-top: 20px;
                 font-size: 20px;
                 align-content: center;
                 justify-content: center;
             }

         }

         li+li {
             margin-top: 5px;
             @include desktop {
                margin-top: 10px;
            }
         }

         li {
             margin-left: 20%;
             @include desktop {
                margin: auto;
                width: 30vw;
            }
         }

         p+p {
             margin-top: 5px;

             @include desktop {
                 margin-top: 10px;
             }
         }
     }
 }

 .swiper-button-prev-custom,
 .swiper-button-next-custom {
     position: absolute;
     top: 0;
     z-index: 99;

 }

 .swiper-button-next-custom {
     right: 6%;
 }

 .swiper-button-prev-custom {
     left: 6%;
 }

 .fa-caret-left,
 .fa-caret-right {
     color: blue;
     z-index: 99;
     font-size: 50px;
    cursor: pointer;
     
     @include desktop {
        transition: all .3s;
        font-size: 80px;

        &:hover {
            opacity: 0.3;
        }
     }
 }

 .fa-money-bill-alt {
     color: green;
     margin-right: 5px;

     @include desktop {
         font-size: 20px;
     }
 }

 .fa-clone {
     color: red;
     margin-right: 5px;


 }

 // .border-fix {
 //     display: flex;
 //     border-bottom:1px solid black;
 // }

 .text-fix {
     text-align: left;
 }