.heading {
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        text-align: center;
    }
}

.header {
    a {
        color: white;
    }
}

.inna__container,
.sophie__container {
    display: flex;
    flex-direction: column;

    a {
        text-decoration: underline;
    }

    p {
        margin-bottom: 5px;
        @include desktop {
            font-size: 20px;
        }
    }
    h3 {
        @include desktop {
            font-size: 22px;
        }
    }
    li {
        a {
            display: inline-flex;
            ;
        }

        &::before {
            content: '\f058';
            font-family: FontAwesome;
            color: blue;
            margin-right: 5px;
        }
        @include desktop {
            font-size: 18px;
        }
    }
    span {
        @include desktop {
            font-size: 20px;
        }
    }
    li+li {
        margin-top: 10px;
    }

    ul+ul {
        margin-top: 10px;
    }
}

.inna,
.sophie {
    &__extras {
        margin-top: 10px;

        &-heading {
            font-weight: bold;
            text-align: center;

            i {
                color: red;
                margin-right: 5px;
            }
        }

        &-list {
            li {
                &::before {
                    content: '\f209';
                    font-family: FontAwesome;
                    color: rgb(95, 95, 95);
                    margin-right: 5px;
                }
            }
        }
    }

    &__heading {
        margin-bottom: 5px;
        text-decoration: underline;
        text-align: center;
        @include desktop {
            
        }
    }
    &__extras-heading {
        @include desktop {
            text-align: left;
            margin-bottom: 20px;
        }
    }

    &__lessons {
        margin-top: 20px;
    }
}

.sophie {
    margin-top: 20px;

    @include desktop {
        margin-top: 30px;
    }
    &__links {
        display: block !important;
        margin-top: 5px;
    }
}


h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;

    @include desktop {
        font-size: 24px;
    }

    i {
        margin-right: 5px;
        color: red;
    }
}

.attend-fix {
    display: inline-block;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}